<ion-header [translucent]="true"></ion-header>
<ion-toolbar>
  <ion-title>
    Tab 1
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
<ion-header [translucent]="true">

  <ion-toolbar>
    <font size=10 face=fantasy color="Pink">
      <ion-title>
        DATOS PERSONALES
      </ion-title>
    </font>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size=36>
        Cedula :
      </ion-col>
      <ion-col size="36">
        0939102219
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size=36>
        Nombres :
      </ion-col>
      <ion-col size="36">
        Gina Patricia
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="36">
        Apellidos :
      </ion-col>
      <ion-col size="36">
        Reyes Espinoza
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="36">
        Edad:
      </ion-col>
      <ion-col size="36">
        41
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="36">
        Nacionalidad:
      </ion-col>
      <ion-col size="36">
        Ecuatoriana
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="36">
        Direccion :
      </ion-col>
      <ion-col size="36">
        Balzar-Esperanza Caputy
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="36">
        Telefono:
      </ion-col>
      <ion-col size="36">
        0939102219
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="36">
        Correo:
      </ion-col>
      <ion-col size="36">
        gina_reyes@hotmail.com
      </ion-col>
    </ion-row>
    <ion-row>